/* home section */

@media screen and (max-width: 1305px) {
    .header .logo h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .header .logo h1 span {
        font-size: 15px;
    }
}


@media screen and (max-width: 1280px) {
    .main-nav li .nav-link {
        font-size: 18px;
        padding-left: 22px !important;
        padding-right: 22px !important;
    }
}


@media screen and (max-width: 1230px) {
    .header .main-logo {
        width: 180px;
    }
}

@media screen and (max-width: 1190px) {
    .header .main-logo {
        margin-top: -30px;
    }
    .header .logo h1 {
        font-size: 25px;
        line-height: 25px;
    }
    .header .logo h1 span {
        font-size: 11px;
    }
    .main-nav li .nav-link {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media screen and (max-width: 1162px){
    .main-nav li .nav-link{
        font-size: 16px;
    }
}

@media screen and (max-width: 1081px) {
    .header .main-logo {
        width: 165px;
    }
    .main-nav li .nav-link {
        font-size: 17px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .fixed-top .main-nav li .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .main-nav li .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media screen and (max-width: 1055px){
    .fixed-top .main-nav li .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 15px;
    }
}

@media screen and (max-width: 991.98px) {
    .header .main-logo {
        width: 200px;
    }
    .main-nav .text {
        text-align: left;
        margin-bottom: 17px;
    }
    .navbar-toggler {
        margin-top: -5rem;
        margin-left: 92%;
    }
    .fixed-top {
        height: auto;
    }
    .main-nav .text {
        display: none;
    }
    .slider .content {
        width: 100%;
    }
}

@media screen and (max-width: 975px) {
    .fixed-top .nav-pills .nav-link::before {
        left: 12%;
        bottom: 0;
    }
    .fixed-top .nav-pills .nav-link.active::before {
        width: 150px;
    }
}

@media screen and (max-width: 767.98px) {
    .header {
        border-top: 4px solid #3439A6;
    }
    .fixed-top .nav-pills .nav-link::before {
        display: none;
    }
    .slider .circle {
        display: none;
    }
    .slider .content .text {
        margin: 40px 0;
    }
    .slider .box2 .content .text {
        margin: 40px 0;
    }
}

@media screen and (max-width: 580px) {
    .header .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header .main-logo {
        margin-top: 0;
    }
    .header .logo h1 {
        display: none;
    }
    .navbar-toggler {
        margin-left: 85%;
    }
}

@media screen and (max-width: 486px) {
    .fixed-top .main-logo,
    .header .main-logo {
        width: 180px !important;
    }
}

@media screen and (max-width: 360px) {
    .fixed-top .main-logo,
    .header .main-logo {
        width: 120px !important;
    }
    .navbar-toggler {
        margin-top: -3rem;
    }
}






/*coupons secttion*/

@media screen and (max-width: 1199.98px) {
    #coupons .box h1 {
        font-size: 61px;
    }
    #coupons .box h1 .dollar-sign {
        font-size: 29.23px;
    }
    #coupons .box h1 .small.our {
        top: 40px !important;
        font-size: 17px;
    }
    #coupons .box h1 .off {
        right: 7px;
        font-size: 15px;
        top: 20px;
    }
    #coupons .box h5 {
        font-size: 20.25px;
    }
}

@media screen and (max-width: 1145px) {
    .banner h1 {
        float: left;
        font-size: 65.01px;
    }
}

@media screen and (max-width: 991.98px) {
    #coupons h4 {
        font-size: 25px;
        margin-top: 25px;
    }
    #coupons .box {
        height: 210px;
        margin: 15px 0;
    }
    #coupons .box h1 .small.off {
        right: -35px;
        font-size: 17px;
    }
    #coupons .box h1.first .small {
        right: -31px !important;
    }

    .banner h4 {
        margin: 0;
    }
}

@media screen and (max-width: 767.98px) {
    #coupons .box .heading {
        display: inline-block;
    }
    #coupons .box h1.first .small {
        right: -30px !important;
    }
    #coupons .box h1 .off {
        right: -30px !important;
    }
    #coupons .box h1 .small.our {
        right: -48px !important;
    }
    #coupons .box h1 .small {
        right: -36px !important;
    }
    #coupons h2 {
        font-size: 22px;
    }
    .banner h1 {
        font-size: 40.01px;
    }

}





/*start services section*/

@media screen and (max-width: 991.98px) {
    .box.estimate {
        width: 100%;
        margin-top: 30px;
    }
    .services p{
        font-size: 17px;
    }
}

@media screen and (max-width: 490px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .services h4,
    .services h5 {
        font-size: 20px;
    }
    .services p {
        font-size: 14px;
    }
    .services h2 {
        font-size: 22px;
    }
    .box.estimate {
        float: inherit;
        background: #303030;
        padding: 20px 19px;
    }
    .services button {
        font-size: 16px;
    }
    .services input {
        margin: 10px 0;
        height: 50px;
    }
}

}





/*footer secttion*/

@media screen and (max-width: 1258px) {
    #footer .box.box3 {
        margin-top: -27%;
    }
}

@media screen and (max-width: 1040px) {
    #footer ul li a{
        font-size: 17px;
    }
    #footer .box.box3{
        margin-top: -128px;
    }
}

@media screen and (max-width: 991.98px) {
    #footer .box.box3 {
        margin-top: 40px;
        float: left;
    }
    .fbanner h1 {
        float: left;
    }
}

@media screen and (max-width: 966px) {
    #request .banner2 {
        float: left;
    }
    .fbanner{
        text-align: center;
    }
    .fbanner h4{
        font-size: 21px;
        margin-top: 1px;
    }
    .fbanner h1 {
        float: inherit;
        font-size: 45px;
        float: inherit;
    }
}

@media screen and (max-width: 767.98px) {
    #footer .box.box2 {
        padding-left: 0;
    }
    .fbanner {
        padding: 15px;
    }
    .fbanner h4 {
        font-size: 17.76px;
    }
    .fbanner h1 {
        font-size: 38px;
        float: inherit;
    }
}





/*start services section*/

@media screen and (max-width: 991.98px) {
    .box.estimate {
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 490px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .services h4,
    .services h5 {
        font-size: 20px;
    }
    .services p {
        font-size: 14px;
    }
    .services h2 {
        font-size: 22px;
    }
    .box.estimate {
        float: inherit;
        background: #303030;
        padding: 20px 19px;
    }
    .services button {
        font-size: 16px;
    }
    .services input {
        margin: 10px 0;
        height: 50px;
    }
}

}
