/*global section*/

@font-face {
    font-family: Myriad-Pro;
    src: url('../fonts/Myriad-Pro_31655.ttf');
}
@font-face {
    font-family: Myriad-Pro-Bold;
    src: url('../fonts/Myriad-Pro-Bold_31631.ttf');
}
.bold{
    font-family: Myriad-Pro-Bold;
}
body{
    font-family: Myriad-Pro;
}
img{
    max-width: 100%;
    height: auto;
}
.header .mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button,input,textarea{
    outline: none;
}
button:focus,input:focus,textarea:focus{
    border: none;
}
section{
     max-width: 1500px !important;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}
.container-fluid {
    padding-left: 70px;
    padding-right: 70px;
}
.fixed-top {
    background: #fff;
    height: 100px;
    padding: 13px 0 !important;
}
.fixed-top .main-logo{
     width: 250px !important;
}
.fixed-top .logo h1,.fixed-top .main-nav .text h5{
    display: none !important;
}
.fixed-top .main-logo{
    margin-top: 0 !important;
}
.nav-pills .nav-link.active,.nav-pills .show > .nav-link{
    background: transparent !important;
    position: relative;
}
.fixed-top .nav-pills .nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background: #639CC6;
    transition: .5s;
}
.fixed-top .nav-pills .nav-link.active::before{
    content: '';
    position: absolute;
    width: 55%;
}
.fixed-top .main-nav li .nav-link {
    padding-left: 25px !important;
    padding-right: 25px !important;
}


/*end global section*/




/*header section*/

.header{
    padding: 20px 0;
    border-top: 8px solid #3439A6;
    background: #fff;
}
.header .main-logo {
    margin-top: -45px;
    width: 205px;
    margin-right: 6px;
}
.header .logo h1 {
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    line-height: 32px;
    color: #E81B3A;
    text-transform: uppercase;
}
.header .logo h1 span {
    font-size: 17px;
    font-weight: normal;
}


.main-nav{
    padding: 14px 0;
}
.main-nav .text{
    text-align: right;
    color: #E81B3A;
}
.main-nav .text h5{
    font-size: 20.4px;
    margin-bottom: 0;
}
.main-nav #navbar-example2 {
    padding: 0px;
}
.main-nav li .nav-link {
    font-size: 20.28px;
    color: #096AB9 !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.main-nav .nav-item:last-child .nav-link{
    padding-right: 0 !important;
}

/*end header section*/





/*slider section*/

.slider .box1{
    background: url('../images/1.jpg');
    background-size: cover;
}
.slider .box2{
    background: url('../images/2.jpg');
    background-size: cover;
}
.slider .item {
    padding: 95px 0;
}
.slider .content {
    overflow: hidden;
    width: 80%;
}
.slider .content .text {
    display: inline-block;
    background: #fff;
    padding: 15px 20px;
    padding-right: 49px;
    border: 2px solid #0560A3;
    position: relative;
    margin-top: 35px;
}
.slider .box2 .content .text{
    margin: 38px 0;
}
.slider .content .text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #E51F37;
}
.slider h4 {
    color: #E51F37;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
}
.slider h4 span {
    color: #0560A3;
}
.slider .circle {
    display: inline-block;
    float: right;
    background: url('../images/1.png');
    width: 225px;
    height: 225px;
    text-align: center;
    padding: 29px 0;
    overflow: hidden;
    color: #fff;
}
.slider .circle h3 {
    font-size: 26.37px;
    margin-bottom: 0;
    line-height: 37px;
    text-transform: uppercase;
}
.slider .circle h3 span {
    font-size: 64.11px;
    margin-bottom: -35px;
    display: block;
}
.slider .circle p {
    font-size: 17.65px;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0px;
}

/*end slider section*/






/* coupons section*/

#coupons {
    background: #303030;
    padding: 40px 0;
    text-align: center;
}
#coupons h4 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
}
#coupons .box {
    background: #fff;
    border: 2px dashed #303030;
    border-radius: 10px;
    padding: 0px 23px;
    margin: 20px 0;
}
#coupons .box .heading{
    position: relative;
    display: inline-block;
}
#coupons .box h1 {
    color: #0560A3;
    font-size: 86.01px;
    position: relative;
}
#coupons .box h1 .dollar-sign {
    font-size: 56.23px;
}
#coupons .box h1 .small {
    font-size: 24.99px;
    position: absolute;
    right: -30px;
    top: 25px;
    text-decoration: underline;
}
#coupons .box h1 .small.off{
    right: -36px;
}
#coupons .box h1 .small.our {
    top: 53px !important;
    right: -55px !important;
}
#coupons .box h5 {
    font-size: 26.24px;
    color: #0560A3;
    margin: 10px 0;
    text-transform: uppercase;
    word-spacing: 6px;
}
#coupons .box p {
    font-size: 12px;
    text-align: left;
    color: #0560A3;
    line-height: 16px;
    margin-bottom: 20px;
}
#coupons h2 {
    color: #E51F37;
    font-size: 30px;
}
#coupons h6 {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}

/* end coupons section*/






/*banner section*/

.banner {
    padding: 15px 0;
    background: #E51F37;
    color: #fff;
}
.banner h4 {
    font-size: 30.36px;
    margin: 30px 0;
}
.banner h1 {
    font-size: 71.01px;
    margin-bottom: 0;
    float: right;
}

/*end banner section*/




/*services section*/

.services {
    padding: 40px 0;
}
.services h4 {
    color: #E51F37;
    font-size: 30.01px;
}
.services h5 {
    color: #4F6063;
    font-size: 22px;
}
.services p {
    font-size: 18px;
    color: #4F6063;
}
.services p:last-child{
    margin-bottom: 0;
}
.box.estimate {
    width: 90%;
    float: right;
    background: #303030;
    padding: 25px 45px;
    color: #fff;
}
.services h2 {
    text-transform: uppercase;
    text-align: center;
}
.services input {
    width: 100%;
    margin: 13px 0;
    height: 65px;
    padding: 0 20px;
    border: none;
    border-left: 4px solid #D41E1F;
    border-radius: 5px;
}
.services textarea {
    width: 100%;
    margin: 13px 0;
    height: 165px;
    padding: 0 20px;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 4px solid #D41E1F;
    border-radius: 5px;
    resize: none;
}
.services button {
    display: inline-block;
    background: #D52625;
    color: #fff;
    border: none;
    font-size: 28.68px;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: -1px;
    margin-top: 15px;
}



#request {
    padding: 20px 0;
}
#request .banner1{
    width: 100%;
}
#request .banner2 {
    float: right;
}
#request p {
    color: #4F6063;
    font-size: 11.96px;
    float: right;
    margin-right: 2%;
}

/*end services section*/





/*footer section*/

#footer {
    overflow: visible;
    padding: 20px 0;
}
#footer h5 {
    color: #4F6063;
    font-size: 22px;
    margin-bottom: 15px;
}
#footer ul li a {
    text-decoration: underline;
    font-size: 18px;
    display: block;
    margin: 5px 0;
}
#footer ul li:last-child a{
    margin-bottom: 0;
}
#footer .box.box2 {
    margin-top: 50px;
    padding-left: 17%;
}
#footer .box.box3 {
    margin-top: -150px;
    float: right;
    margin-right: 10%;
}



.fbanner {
    background: #E51F37;
    color: #fff;
    padding: 20px 70px;
    margin: 20px 0;
}
.fbanner h4 {
    font-size: 25.76px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 22px;
}
.fbanner h1 {
    margin-bottom: 0;
    font-size: 57.48px;
    float: right;
}


.copyright p {
    font-size: 17.47px;
    margin-bottom: 0;
}

/*end footer section*/








